body {
  background-color: #F9FAFA;
}

.gapsi-navbar {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
}

.gapsi-navbar-name {
  font-weight: 600;
}

.gapsi-b-container {
  margin: 0 auto !important;
  margin-top: 120px !important;
  margin-bottom: 120px !important;
  max-width: 420px;
  height: auto;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  margin: 18px 12px 30px 12px;
  padding: 0;
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.gapsi-b-container-header {
  padding: 0;
  height: 56px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 6px 6px 0px 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.04);
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.gapsi-b-container-header h1 {
  margin-top: 17px;
  margin-left: 16px;
  float: left;
  font-size: 16px;
}

.gapsi-b-container-header div {
  margin-top: 10px;
  margin-right: 16px;
  float: right;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.07);
  border: solid 1px transparent;
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  cursor: pointer;
}

.gapsi-b-container-header div:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border: solid 1px rgba(0, 0, 0, 0.08);
}

.gapsi-b-container-body {
  padding: 72px 16px;
  text-align: center;
}

.gapsi-b-container-body img {
  border-radius: 80px;
  margin-top: 14px;
  margin-bottom: 1px;
  border: solid 3px #265CB3;
  box-shadow: 0px 4px 200px rgba(38, 92, 179, 0.0);
  -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  
}

.gapsi-b-container-body img:hover {
  border-radius: 16px;
  box-shadow: 0px 4px 200px rgba(38, 92, 179, 0.9);
}

.gapsi-b-container-body p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.gapsi-b-btn {
  background-color: #265CB3;
  color: #fff;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 20px;
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.gapsi-b-btn:hover {
  background-color: #000;
  color: #fff;
  padding-left: 28px;
  padding-right: 28px;
}

.gapsi-b-container-footer {
  width: 100%;
  height: auto;
  padding: 14px 14px 0px 14px;
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.gapsi-b-container-footer p {
  width: 100%;
  font-size: 12px;
  padding: 10px 12px;
  text-align: right;
  border: solid 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

@media (max-width: 560px) {
  .gapsi-navbar-name {
    display: none;
  }

  .gapsi-b-btn {
    width: 100%;
  }

  .gapsi-b-container {
    max-width: 320px;
    padding: 20px;
  }

  .gapsi-b-container-header {
    background: rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.04);
  }

  .gapsi-b-container-header div {
    background: rgba(0, 0, 255, 0, 0.3);
  }

  .gapsi-b-container-footer p {
    text-align: center;
  }

  .gapsi-b-container-body img {
    border-radius: 16px;
  }
}

.swal2-modal {
  border-radius: 20px !important;
}

.swal2-icon {
  font-size: 13px !important;
  color: #000 !important;
  border: solid #000 !important;
}

.swal2-title {
  font-size: 16px !important;
}

.swal2-html-container {
  font-size: 13px !important;
}

.swal2-cancel {
  background-color: #E5E5E5 !important;
  color: #000000 !important;
  font-size: 13px !important;
}

.swal2-confirm {
  background-color: #EE0000 !important;
  color: #FFFFFF !important;
  font-size: 13px !important;
}

.main-container {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
}

.gapsi-main-menu {
  float: left;
  width: 220px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.02);
  position: relative;
  background: #000000;
  padding-top: 90px;
}

.gapsi-main-menu-item {
  float: left;
  width: 190px;
  padding: 12px 16px;
  margin: 10px;
  height: auto;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.gapsi-main-menu-item-s {
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 10;
}

.gapsi-icon {
  padding-right: 12px;
}

.gapsi-main-body {
  float: left;
  width: calc(100% - 220px);
  height: 100%;
  background: #FFFFFF;
  padding: 14px;
  padding-top: 78px;
}

.gapsi-menu-header {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 12px;
  border-radius: 12px;
}

.gapsi-menu-title {
  float: left;
  width: 300px;
}

.gapsi-menu-title p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.gapsi-menu-title h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.gapsi-menu-header button {
  margin-left: 12px;
}

.gapsi-menu-buttons {
  float: right;
}

.gapsi-column-center {
  text-align: center !important;
}

.gapsi-column-center button {
  text-align: center !important;
  margin-left: 10px !important;
  border-radius: 100px;
}



table {
  margin: 12px;
  width: 98%;
}

th .orden {
  font-size: 14px;
  width: 100%;
  padding: 8px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: rgba(80, 84, 87, 0.06);
  display: block;
  border-radius: 8px !important;
  text-transform: capitalize;

}

th .orden:hover {
  background-color: #363A3E;
  color: #FFFFFF;
}

th {
  padding: 4px;
  text-align: center;
  border: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  /*
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
   */

}

th:hover {
  background-color: rgba(80, 84, 87, 0.0) !important;
}

td {
  padding: 8px 15px;
  text-align: center;
  border: 0px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 14px;

}

tr {
  border: 0px solid #ddd;
}

tr:hover {
  background-color: rgba(80, 84, 87, 0.04) !important;
}

.gapsi-column-center {
  font-weight: bold;
}

